---
layout: base.njk
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---

<article class="post">
  <h1>404: Page Not Found</h1>
  <p>The page you're looking for doesn't exist. Maybe it never did. Maybe it's lost in time.</p>
  <p>Here's what you can do:</p>
  <ul>
    <li><a href="/">Go back to the homepage</a></li>
    <li><a href="/feed.xml">Subscribe to the RSS feed</a></li>
  </ul>
  <p><em>"Not all those who wander are lost, but this page certainly is."</em></p>
</article>
